
.selected {
    background-color: yellow;
}
table {
	empty-cells: show;
}
span{
    padding: 10px;
    line-height: 30px;
}
td{
	empty-cells: show;
    border: 1.5px solid black;
}
.tdStyle{
    width: 30px;
    height: 30px;
}
.tdStyleRed{
    border-color: red;
    width: 30px;
    height: 30px;
}
.tdStyleBlue{
    border-color: Blue;
    width: 30px;
    height: 30px;
}
.invisibleElement {
    display: none;
}

section {
    border: 1px solid black;
}

label {
    display: block;
    cursor: pointer;
    transition: background .3s ease-out
}

input[type=checkbox] {
    position: absolute;
    appearance: none;
}

input[type=checkbox]:checked+.invisibleElement {
    display: block;
}