body {
    font-size: 30px;
    font-style: italic;

}

.level1 {
    border-left: 3px solid red;
    border-radius: 8px;
}

.level2 {
    border-left: 3px solid orange;
    border-radius: 8px;
}

.level3 {
    border-left: 3px solid yellow;
    border-radius: 8px;
}

ol {
    padding: 0;
    margin: 5px;
    list-style-type: none;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}