body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: #1F1F1F;
    color: white;
}

div {
    display: none;
}

dir {
    max-width: 500px;
    margin: 20px auto;
}

section {
    border: 1px solid rgb(178, 45, 45);
}

label {
    display: block;
    cursor: pointer;
    transition: background .3s ease-out
}

label:hover {
    background-color: red;
}

input[type=checkbox] {
    width: 10;
    height: 10;
    position: absolute;
    appearance: none;
}

input[type=checkbox]:checked+div {
    display: block;
}